<!DOCTYPE html>
<html>
<head>
  <title>FooBar</title>
  <%= stylesheet_link_tag    "foo_bar/application", media: "all" %>
  <%= javascript_include_tag "foo_bar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
